name: Publish Image

on:
  push:
    branches: [main]

permissions:
  packages: write

jobs:
  publish-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}
      - name: Set up QEMU
        id: buildx
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        id: qemu
        uses: docker/setup-buildx-action@v1
      - name: Build and Push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/swissmanu/fava:latest
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
